body{
    text-align: center;
}

.form{
    text-align: center;
    border: 1px solid black;
    border-radius: 2em;
    width: 350px;
    padding: 1em;
    margin: 0 auto;
}

label{
    width: 10ch;
    text-align: right;
    display: inline-block;
}

.library{
    border: 1px solid black;
    border-radius: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    padding: 1em;
    gap: 1em;
    justify-content: center;
}

.library div{
    border-radius: 10px;
    width : 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    cursor: pointer;
    position: relative;
}

#show-lib{
    margin: 50px;
}

.read{
    box-shadow: 0 0 0.5em 0.2em yellowgreen;
}

.unread{
    box-shadow: 0 0 0.5em 0.2em red;
}

.read span{
    color: yellowgreen;
}
.unread span{
    color: red;
}

.library span{
    position: absolute;
    top: 0;
    left: 5px;
    visibility: hidden;
}

.library div:hover span{
    visibility: visible;
}


