body{
    text-align: center;
    background-image: url(./books.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.form{
    background-color: white;
    position: relative;
    text-align: center;
    border: 1px solid black;
    width: 350px;
    margin: 0 auto;
}
form{
    height: 10rem;
    transition: height 1s;
    overflow: hidden;
}

label{
    width: 10ch;
    text-align: right;
    display: inline-block;
}

.library{
    margin: 1rem auto;
    border: 1px solid black;
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, 210px);
    padding: 1em;
    gap: 1em;
    justify-content: center;
}

.library div{
    background-color: white;
    border-radius: 10px;
    width : 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    cursor: pointer;
    position: relative;
}

h1, h2{
    height: 1.2em;
    overflow: hidden;
    max-width: calc(200px - 2rem);
    text-overflow: ellipsis;
}
h1:hover, h2:hover{
    height: fit-content;
    overflow: auto;
    text-overflow: clip;
}

#show-lib{
    margin: 50px;
}

.read{
    box-shadow: 0 0 0.5em 0.2em yellowgreen;
}

.unread{
    box-shadow: 0 0 0.5em 0.2em red;
}

.read span{
    color: yellowgreen;
}
.unread span{
    color: red;
}

.library span{
    position: absolute;
    top: 0;
    left: 5px;
    visibility: hidden;
}

.library div:hover span{
    visibility: visible;
}

#toggle-form{
    width: 100%;
    border-radius: 0;
    height: 1.5rem;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
.hide{
    height: 0;
    /* height: 1.5rem; */
    /* overflow: hidden; */
}
/* .hide #toggle-form{
    top: 0;
} */